<%- include ('partials/header.ejs') %>

  <body>

    <div class="container ">

      <div class="row justify-content-center">
        <div class="col-auto">
          <% if(status=="success" ) { %>
            <%- include ('alerts/conf.ejs') %>
              <%- include ('alerts/success.ejs') %>

                <% }%>

                  <% if(status=="error" ) { %>
                    <%- include ('alerts/conf.ejs') %>
                      <%- include ('alerts/error.ejs') %>
                        <% }%>
        </div>
      </div>

      <div id="carousel" class="carousel carousel-dark slide" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%- include ('register.ejs') %>
          </div>
          <div class="carousel-item">
            <%- include ('sendMessage.ejs') %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


    </div>

  </body>

  <%- include ('partials/footer.ejs') %>

    <script>
      let button = document.getElementById("btnClose")
      let status = '<%-status%>'
      if (status == "success" || status == "error") {
        setTimeout(closeMessage, 2000);
      }
      function closeMessage() {
        button.click()
      }
    </script>